:root {
  --panel-bg-color: #f3f3f3;
  --border-color: #d0d0d0;
  --link-color: #1155cc;
  --text-color: #333;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 12px;
}

.panel {
  background-color: var(--panel-bg-color);
  padding: 4px;
}

.link {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

.table {
  border-collapse: collapse;
  table-layout: fixed;
}
.table thead th {
  background-color: var(--panel-bg-color);
  font-weight: bold;
  text-align: center;
}
.table td,
.table th {
  border: 1px solid var(--border-color);
  padding: 4px;
  word-break: break-word;
}

.dialog {
  border: 0;
  border-radius: 2px;
  color: inherit;
  padding: 15px;
  max-width: 300px;
  width: 100%;
}
.dialog .dialog-header {
  padding-bottom: 6px;
  border-bottom: 1px solid var(--border-color);
  position: relative;
  min-height: 21px;
}
.dialog .dialog-header .dialog-close {
  position: absolute;
  top: 0;
  right: 0;
}