.app {
  max-width: 900px;
  padding: 8px;
}

.main-header {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}
.main-header .buttons {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
}

.table {
  width: 100%;
}
.table .code {
  padding: 0;
  overflow: auto;
  max-height: 250px;
}
.table .code pre {
  margin: 0;
  padding: 4px;
  overflow: auto;
  max-height: 250px;
}
.table .date,
.table .empty,
.table .actions {
  text-align: center;
}
.table .actions .link {
  margin: 0 3px;
}

.dialog.loading {
  max-width: 200px;
  text-align: center;
}

.dialog.edit {
  max-width: 500px;
}
.dialog.edit .origin {
  max-width: 300px;
  width: 100%;
}
.dialog.edit .code {
  height: 300px;
  border: 1px solid var(--border-color);
}
.dialog.edit .actions {
  text-align: center;
}