.app {
  max-width: 650px;
  padding: 8px;
}

.main-header {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}
.main-header .buttons {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
}

.script {
  border: 1px solid var(--border-color);
}
.script:not(:last-of-type) {
  margin-bottom: 10px;
}
.script .panel {
  display: flex;
  border-bottom: 1px solid var(--border-color);
}
.script .origin {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.script .actions {
  text-align: right;
}
.script .actions .link {
  margin-left: 8px;
}
.scripts .empty {
  text-align: center;
  color: gray;
}

.dialog.loading {
  max-width: 200px;
  text-align: center;
}

.dialog.edit {
  max-width: 600px;
}
.dialog.edit .origin {
  max-width: 300px;
  width: 100%;
}
.dialog.edit .code {
  height: 350px;
  border: 1px solid var(--border-color);
}
.dialog.edit .actions {
  text-align: center;
}
