:root {
  --panel-bg-color: #f3f3f3;
  --panel-border-color: #d0d0d0;
  --base-text-color: #303942;
  --link-color: #1155cc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 12px;
}

.container {
  width: 450px;
  height: 275px;
}

.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.panel-header {
  display: flex;
  background-color: var(--panel-bg-color);
  border-bottom: 1px solid var(--panel-border-color);
  padding: 4px 6px;
}
.panel-header .name {
  flex: 1;
  font-weight: bold;
}
.panel-header .actions .link {
  padding-left: 3px;
}
.panel-body {
  flex: 1;
  overflow: auto;
}
.panel-footer {
  background-color: var(--panel-bg-color);
  border-top: 1px solid var(--panel-border-color);
  padding: 4px 6px;
}

.link {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  display: none;
}

.script-list .panel-body ul {
  padding: 0;
  margin: 0;
}
.script-list .panel-body li {
  display: flex;
  padding: 4px 6px;
  cursor: pointer;
}
.script-list .panel-body li:hover {
  background-color: #eef3fa;
}
.script-list .panel-body li .name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.script-list .panel-body li .actions .link {
  padding-left: 6px;
}
.script-list .panel-body .empty {
  display: block;
  text-align: center;
  opacity: 0.5;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.script-list .panel-footer .status {
  opacity: 0.5;
}

.script-edit .panel-body {
  display: flex;
  flex-direction: column;
}
.script-edit .panel-body .name {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--panel-border-color);
  padding: 2px 6px;
  outline: none;
  font-size: inherit;
}
.script-edit .panel-body .code {
  flex: 1;
}